body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#ffffff;
}

.header{
  background:#000000;
  color:#ffffff;
  padding:12px;
  text-align:center;
}

.button{
  background:#ff7a00;
  color:white;
  padding:10px 15px;
  border:none;
  border-radius:5px;
}

.card{
  background:#ffffff;
  border:1px solid #ddd;
  margin:10px;
  padding:12px;
  border-radius:8px;
}
